body{
	background-color:$grey--wu;
}
.headerWrap{
	background:$black;
}
.header{
	position:relative;
	height:80px;
	background:$black url(image_path('wu-logo.svg')) no-repeat;
	background-size:auto 70px;
	background-position-y:center;
	background-position-x:20px;

	@media #{$small-only} { background-size:auto 44px; }
}
.mainContent{
	padding:0 18px;
	border-bottom:3px solid $yellow;
	margin-bottom:35px;
}
.slogan{
	display:block;
	position:absolute;
	top:5px;
	right:0;
	margin:0;
	height:68px;
	width:200px;
	background:url(image_path('my-wu.svg')) no-repeat;
	background-size:contain;

	@media #{$small-only} {
		width:160px;
		right:10px;
		top:8px;
	}
}
.introText{
	margin-top:30px;
}
.introText > h1{
	font-size:$fontSize-massive;
	font-weight:bold;
	line-height:43px;
	margin-bottom:18px;
}
.introText > p{
	margin:30px 0;
}
.offerGrid{
	position:relative;
	margin-bottom:25px;
	padding:20px 15px;
	background:$white--transparent;
	z-index:$zIndex-2;
	@include m-borderRadius(14px);
	@include m-boxShadow(inset 0 0 10px $grey);
}
.offerGrid > li{
	min-height:150px;
	border:1px solid $grey--light;

	@media #{$small-only} { border:0px; }
}
.offerGrid > li:last-child{
	border-right:0px;
}
.offerGrid > li.topRow{
	border-top:0px;
}
.offerGrid > li.topRow:first-child{
	border-left:0px;
}
.offerGrid > li.topRow.last{
	border-right:0px;
}
.offerGrid > li.bottomRow{
	border-bottom:0px;
}
.offerGrid > li.bottomRow.first{
	border-left:0px;
}
.offerGrid > li.bottomRow.last{
	border-right:0px;
}
.offerGrid > li > .offerImage{
	height:80px;
	width:100%;
	margin:10px 0 10px 0;
}
.offerGrid > li.topRow > .offerImage{
	margin-top:0px;
}
.offerGrid > li > p{
	margin:0;
	padding:0;
}
.offerGrid > li > p.offerText{
	font-weight:bold;
}
.offerGrid > li > a{
	font-weight:bold;
}
.acompanyingImage{
	height:580px;
	width:54%;
	position:absolute;
	bottom:58px;
	right:0;
	background-repeat:no-repeat;
	background-size:contain;
	z-index:$zIndex-1;

	@media #{ $medium-only } {
		height:512px;
		width:62%;
	}

	@media #{ $small-only } {
		bottom:0px;
		width:100%;
		height:429px;
	}
}
.acompanyingImage--uae{
	background-image:url(image_path('my-wu-rewards-mid-eastern.jpg'));
}
.acompanyingImage--usa{
	background-image:url(image_path('my-wu-rewards-western.png'));
}