body{
	background-color:$grey--wu;
}
.row{
	max-width:900px;
}
.headerWrap{
	background:$black;
}
.header{
	position:relative;
	padding:18px;

	@media #{$small-only} { text-align:center; }
}
.mainContent{
	padding:0 18px;
	border-bottom:3px solid $yellow;
	margin-bottom:35px;
}
.introText{
	margin-top:30px;
}
.introText > h1{
	font-size:$fontSize-massive;
	font-weight:bold;
	line-height:41px;
	margin-bottom:18px;
}
.introText > img{
	@media #{$small-only} { margin-bottom:25px; }
}
.introText > p{
	margin:30px 0;
}
.offerGrid{
	position:relative;
	margin-bottom:25px;
	padding:20px 15px;
	background:$white--transparent;
	z-index:$zIndex-2;
	@include m-borderRadius(14px);
	@include m-boxShadow(inset 0 0 10px $grey);
}
.offerGrid > li{
	position:relative;
	min-height:330px;
	border:1px solid $grey--light;

	@media #{$small-only} { border:0px; }
}
.offerGrid > li:last-child{
	border-right:0px;
}
.offerGrid > li.topRow{
	border-top:0px;
}
.offerGrid > li.topRow:first-child{
	border-left:0px;
}
.offerGrid > li.topRow.last{
	border-right:0px;
}
.offerGrid > li.bottomRow{
	border-bottom:0px;
	min-height:365px;
}
.offerGrid > li.bottomRow.first{
	border-left:0px;
}
.offerGrid > li.bottomRow.last{
	border-right:0px;
}
.offerGrid > li > .offerImage{
	width:100%;
	margin:10px 0 10px 0;
}
.offerGrid > li.topRow > .offerImage{
	margin-top:0px;
}
.offerGrid > li > p{
	margin:0;
	padding:0;
}
.offerGrid > li > p.offerText{
	font-weight:bold;
}
.offerGrid > li > p.offerDetail{
	font-size:$fontSize-small;
	margin:8px 0;
}
.offerGrid > li > a{
	font-weight:bold;
	position:absolute;
	bottom:10px;
}
.acompanyingImage{
	height:580px;
	width:54%;
	position:absolute;
	bottom:58px;
	right:0;
	background-repeat:no-repeat;
	background-size:contain;
	z-index:$zIndex-1;

	@media #{ $medium-only } {
		height:460px;
		width:44%;
		bottom:291px;
	}
}
.acompanyingImage--ksa{
	background-image:url(image_path('my-wu-rewards-ksa.png'));

	@media #{ $medium-up } {
		bottom:12px;
		width:49%;
	}
}
.acompanyingImage--uae{
	background-image:url(image_path('my-wu-rewards-uae.png'));

	@media #{ $medium-up } {
		bottom:12px;
		right:-62px;
	}
	@media #{ $medium-only } { bottom:272px; }
}
.acompanyingImage--usa{
	background-image:url(image_path('my-wu-rewards-usa.jpg'));
	right:25px;

	@media #{ $small-up } {
		height:310px;
		min-width:34%;
		max-width:310px;
		top:35px;
	}
}