<% content_for :intro_text do %>
	<h1>Welcome to My WU Rewards, special offers selected for Western Union members</h1>
	<p>These offers have been specifically chosen for My WU members. All you need to do is select the offer you would like to use, click through, follow the instructions and enjoy your offer!</p>
<% end %>

<% content_for :offers do %>
	<%= partial('offers', locals: { geo: 'uae' }) %>
<% end %>

<% content_for(:image_class, 'acompanyingImage--uae') %>