<% content_for :intro_text do %>
	<%= image_tag('my-wu-rewards-usa.jpg', class: 'show-for-small-only') %>
	<h1 class="introText-title--usa">Great offers for our most valued members</h1>
	<p>As a valued customer, we are offering you the chance to save money with some great brands. Just click on the link or links you'd like to use and follow the instructions.</p>
<% end %>

<% content_for :offers do %>
	<%= partial('offers', locals: { geo: 'usa' }) %>
<% end %>

<% content_for(:image_class, 'acompanyingImage--usa') %>