<% content_for :intro_text do %>
	<%= image_tag('my-wu-rewards-usa.jpg', class: 'show-for-small-only') %>
	<h1 class="introText-title--usa">Special offers for our most valued members</h1>
	<p>We've teamed up with some great brands to bring you these fabulous offers. Just click on the link or links you'd like to use and follow the instructions.</p>
<% end %>

<% content_for :offers do %>
	<%= partial('offers', locals: { geo: 'usa' }) %>
<% end %>

<% content_for(:image_class, 'acompanyingImage--usa') %>