<% content_for :intro_text do %>
	<%= image_tag('my-wu-rewards-usa.jpg', class: 'show-for-small-only') %>
	<h1 class="introText-title--usa">Welcome to special offers selected for Western Union members</h1>
	<p>These offers have been specifically chosen for Western Union members. All you need to do is select the offer you would like to use, click through, follow the instructions and enjoy your offer!</p>
<% end %>

<% content_for :offers do %>
	<%= partial('offers', locals: { geo: 'usa' }) %>
<% end %>

<% content_for(:image_class, 'acompanyingImage--usa') %>